<ion-view view-title="Details">
  <ion-content>
    <ion-list>
      
	
        <ion-item >
         breakfast total is {{bal.BreakfastTotal}}, min = {{bal.BreakfastMin}}, max = {{bal.BreakfastMax}}, avg = {{bal.BreakfastAvg}}
        </ion-item>

		<ion-item >
         dinner total is {{bal.DinnerTotal}}, min = {{bal.DinnerMin}}, max = {{bal.DinnerMax}}, avg = {{bal.DinnerAvg}}
        </ion-item>
		
		<ion-item >
         tea total is {{bal.TeaTotal}}, min = {{bal.TeaMin}}, max = {{bal.TeaMax}}, avg = {{bal.TeaAvg}}
        </ion-item>
		
		<ion-item >
         supper total is {{bal.SupperTotal}}, min = {{bal.SupperMin}}, max = {{bal.SupperMax}}, avg = {{bal.SupperAvg}}
        </ion-item>
		
		<ion-item >
         snacks total is {{bal.SnacksTotal}}, min = {{bal.SnacksMin}}, max = {{bal.SnacksMax}}, avg = {{bal.SnacksAvg}}
        </ion-item>
	
        
    </ion-list>
  </ion-content>
 
</ion-view>
