<ion-view title="main" hide-back-button="true"  type="text/ng-template">
  <ion-content>
	  <table>
		<tr>
			<th>Item</th>
			<th>Quantity Bought</th>
		</tr>
		<tr>
			<td><img src="./img/1LMilk.jpg" height="75" width="75"></td>
			<td id="milk1lQua">0</td>
		</tr>
		<tr>
			<td><img src="./img/2LMilk.jpg" height="75" width="75"></td>
			<td id="milk2lQua">0</td>
		</tr>
		<tr>
			<td><img src="./img/breadWH.jpg" height="75" width="75"></td>
			<td id="breadWHQua">0</td>
		</tr>
		<tr>
			<td><img src="./img/breadBR.jpg" height="75" width="75"></td>
			<td id="breadBRQua">0</td>
		</tr>
		<tr>
			<td><img src="./img/breadGR.jpg" height="75" width="75"></td>
			<td id="breadGRQua">0</td>
		</tr>
		<tr>
			<td><img src="./img/Barrys.jpg" height="75" width="75"></td>
			<td id="tBagsQua">0</td>
		</tr>
		</table>
</ion-view>
