<ion-tabs class="tabs-icon-top tabs-assertive">

  <ion-tab title="Meals" icon-on="ion-pizza" icon-off="ion-pizza-outline" ui-sref="tabs.meals">
    <ion-nav-view name="meals-tab"></ion-nav-view>
  </ion-tab>

  
  <ion-tab title="Details" icon-on="ion-ios-analytics" icon-off="ion-ios-analytics-outline" ui-sref="tabs.details">
    <ion-nav-view name="details-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Scanner" icon-on="ion-camera" icon-off="ion-camera" ui-sref="tabs.barcode">
    <ion-nav-view name="barcode-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
