<ion-view view-title="Meals">
  <ion-content>
    
<div class="list" ng-controller="MealsController">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
	<h1> Breakfast </h1> <img src = "img/breakfast.jpeg">
	
      <input type="text" ng-model="breakfastText" placeholder="Enter Breakfast Calories">
    </label>
    <button ng-click = "addBreakfast()" class="button button-small">
      Add
    </button>
  
 
  </div>
  
<div class="list" ng-controller="MealsController">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
	<h1> Dinner </h1> <img src = "img/dinner.jpeg">
      <input type="text" ng-model="dinnerText" placeholder="Enter Dinner Calories">
    </label>
    <button ng-click = "addDinner()" class="button button-small">
      Add
    </button>
  
 
  </div>
  
  <div class="list" ng-controller="MealsController">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
	<h1> Tea </h1> <img src = "img/tea.jpeg">
      <input type="text" ng-model="teaText" placeholder="Enter Tea Calories">
    </label>
    <button ng-click = "addTea()" class="button button-small">
      Add
    </button>
  
 
  </div>
  
  <div class="list" ng-controller="MealsController">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
	<h1> Supper </h1> <img src = "img/supper.png">
      <input type="text" ng-model="supperText" placeholder="Enter Supper Calories">
    </label>
    <button ng-click = "addSupper()" class="button button-small">
      Add
    </button>
  
 
  </div>
  
  <div class="list" ng-controller="MealsController">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
	<h1> Snacks </h1> <img src = "img/snacks.jpeg">
      <input type="text" ng-model="snacksText" placeholder="Enter Snacks Calories">
    </label>
    <button ng-click = "addSnacks()" class="button button-small">
      Add
    </button>
  
 
  </div>
  
</div>

  </ion-content>
  
  <!--<ion-footer-bar class="bar-dark">
    
  </ion-footer-bar> -->
  </ion-view>
  

